 .u-section-1 {
  background-image: url("https://assets.nicepagecdn.com/ad755c07/5131568/images/kod-10Mka.png");
  background-position: 50% 50%;
  min-height: 945px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 945px;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-1 .u-container-layout-1 {
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 707px;
  height: 209px;
  margin: -12px auto 0;
}

.u-section-1 .u-text-1 {
  margin: -31px auto 0;
}

.u-section-1 .u-group-1 {
  width: 305px;
  background-image: none;
  min-height: 83px;
  height: auto;
  margin: 14px auto 0;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-custom-html-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-1 .u-custom-html-2 {
  height: auto;
  min-height: 83px;
  width: 291px;
  margin: 0 auto;
}

.u-section-1 .u-group-2 {
  width: 325px;
  min-height: 60px;
  height: auto;
  box-shadow: 5px 0px 6px 0px rgba(119,107,64,0.7);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  background-image: none;
  transition-duration: 0.5s;
  margin: 46px auto 0;
}

.u-section-1 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 7px 5px 0 auto;
}

.u-section-1 .u-custom-html-3 {
  height: auto;
  min-height: 51px;
  margin: -47px 0 0 180px;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  font-weight: 700;
  background-image: none;
  margin: -49px auto 0 24px;
}

.u-section-1 .u-group-3 {
  width: 325px;
  min-height: 60px;
  height: auto;
  box-shadow: 5px 0px 6px 0px rgba(119,107,64,0.7);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  background-image: none;
  margin: 35px auto 0;
}

.u-section-1 .u-container-layout-4 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.875rem;
  font-weight: 700;
  background-image: none;
  margin: 2px auto 0 20px;
}

.u-section-1 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  margin: -43px 6px 0 auto;
  padding: 9px 29px 11px 27px;
}

.u-section-1 .u-group-4 {
  width: 325px;
  min-height: 60px;
  height: auto;
  box-shadow: 5px 0px 6px 0px rgba(119,107,64,0.7);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  background-image: none;
  margin: 35px auto 0;
}

.u-section-1 .u-container-layout-5 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.875rem;
  font-weight: 700;
  background-image: none;
  margin: 3px auto 0 28px;
}

.u-section-1 .u-btn-3 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  margin: -44px 6px 0 auto;
  padding: 9px 31px 11px;
}

.u-section-1 .u-group-5 {
  width: 325px;
  min-height: 60px;
  height: auto;
  box-shadow: 5px 0px 6px 0px rgba(119,107,64,0.7);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  background-image: none;
  margin: 35px auto 0;
}

.u-section-1 .u-container-layout-6 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-5 {
  font-size: 1.875rem;
  font-weight: 700;
  background-image: none;
  margin: 3px auto 0 17px;
}

.u-section-1 .u-btn-4 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  margin: -44px 6px 0 auto;
  padding: 9px 26px 10px 24px;
}

.u-section-1 .u-group-6 {
  width: 827px;
  background-image: none;
  min-height: 151px;
  height: auto;
  margin: 35px auto 0;
}

.u-section-1 .u-container-layout-7 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-group-7 {
  width: 304px;
  background-image: none;
  min-height: 58px;
  height: auto;
  margin: 9px auto 0;
}

.u-section-1 .u-container-layout-8 {
  padding-right: 30px;
  padding-left: 30px;
}

.u-section-1 .u-text-6 {
  margin: 7px 0 0;
}

.u-section-1 .u-btn-5 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 23px auto 0 20px;
  padding: 7px 91px 8px 90px;
}

.u-section-1 .u-btn-6 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -46px auto 0 276px;
  padding: 11px 91px 12px 90px;
}

.u-section-1 .u-btn-7 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -43px 22px 0 auto;
  padding: 8px 58px 10px 56px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 502px;
  }

  .u-section-1 .u-layout-cell-1 {
    --animation-custom_in-translate_x: -300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    min-height: 779px;
  }

  .u-section-1 .u-image-1 {
    height: 210px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -38px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -3px;
    height: auto;
  }

  .u-section-1 .u-group-2 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0.55;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-top: 19px;
    height: auto;
  }

  .u-section-1 .u-group-3 {
    margin-top: 19px;
    height: auto;
  }

  .u-section-1 .u-group-4 {
    margin-top: 24px;
    margin-right: 107px;
    height: auto;
  }

  .u-section-1 .u-group-5 {
    margin-top: -65px;
    margin-left: 107px;
    height: auto;
  }

  .u-section-1 .u-group-6 {
    min-height: 200px;
    margin-top: 24px;
    height: auto;
  }

  .u-section-1 .u-container-layout-7 {
    padding-top: 9px;
    padding-bottom: 9px;
  }

  .u-section-1 .u-group-7 {
    height: auto;
  }

  .u-section-1 .u-container-layout-8 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 967px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 60px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 830px;
  }

  .u-section-1 .u-image-1 {
    height: 196px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -19px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 11px;
  }

  .u-section-1 .u-group-2 {
    margin-top: 39px;
  }

  .u-section-1 .u-group-3 {
    margin-top: 39px;
  }

  .u-section-1 .u-group-4 {
    margin-top: 39px;
    margin-right: auto;
  }

  .u-section-1 .u-group-5 {
    margin-top: 39px;
    margin-left: auto;
  }

  .u-section-1 .u-group-6 {
    width: 720px;
    min-height: 196px;
    margin-top: 39px;
    margin-bottom: -107px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-bottom: 0;
  }

  .u-section-1 .u-group-7 {
    min-height: 107px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 13px;
    margin-left: 41px;
    padding-bottom: 7px;
    padding-left: 61px;
    padding-right: 61px;
  }

  .u-section-1 .u-btn-6 {
    margin-top: -44px;
    margin-left: auto;
    padding-right: 53px;
    padding-left: 52px;
  }

  .u-section-1 .u-btn-7 {
    margin-top: -44px;
    margin-right: auto;
    margin-left: 501px;
    padding-right: 19px;
    padding-bottom: 9px;
    padding-left: 18px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 43px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 160px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 18px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -555px;
  }

  .u-section-1 .u-group-2 {
    margin-top: 510px;
  }

  .u-section-1 .u-group-5 {
    margin-top: 20px;
  }

  .u-section-1 .u-group-6 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-top: 0;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-6 {
    margin-top: -46px;
  }

  .u-section-1 .u-btn-7 {
    margin-top: 20px;
    margin-left: 321px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 787px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 727px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 101px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -581px;
  }

  .u-section-1 .u-group-2 {
    margin-top: 536px;
  }

  .u-section-1 .u-group-4 {
    margin-top: 20px;
  }

  .u-section-1 .u-group-5 {
    margin-top: -65px;
  }

  .u-section-1 .u-group-6 {
    width: 340px;
  }

  .u-section-1 .u-btn-6 {
    margin-top: 20px;
  }

  .u-section-1 .u-btn-7 {
    margin-left: 121px;
  }
}

.u-section-1 .u-layout-cell-1,
.u-section-1 .u-layout-cell-1:before,
.u-section-1 .u-layout-cell-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-layout-cell-1.u-layout-cell-1.u-layout-cell-1:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: scale(1) translateY(px) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-layout-cell-1 {
  border-color: transparent !important;
}

.u-section-1 .u-layout-cell-1.u-layout-cell-1.u-layout-cell-1.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: scale(1) translateY(px) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-1 .u-layout-cell-1 {
  border-color: transparent !important;
}

.u-section-1 .u-container-layout:hover .u-layout-cell-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-layout-cell-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}.u-section-2 .u-sheet-1 {
  min-height: 61px;
} .u-section-3 {
  background-image: none;
  min-height: 960px;
}

.u-section-3 .u-image-1 {
  min-height: 959px;
  margin-top: 1px;
  margin-bottom: 0;
  background-image: url("https://assets.nicepagecdn.com/ad755c07/5131568/images/7db5f9240b07d15447bfdf6a04a751b4b6fa48be2d2285d6a45f29eaabdd0ac1381bd5e521413dea123253ef90ea86ce9b57b2c334c8b46903971b_1280.jpg");
  height: auto;
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 11px 30px;
}

.u-section-3 .u-group-2 {
  width: 766px;
  background-image: none;
  min-height: 125px;
  height: auto;
  margin: 75px auto 0;
}

.u-section-3 .u-container-layout-2 {
  padding-right: 14px;
  padding-left: 14px;
}

.u-section-3 .u-text-1 {
  margin: 0;
}

.u-section-3 .u-blog-1 {
  width: 1140px;
  margin: 85px auto 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 14.6667px));
  min-height: 521px;
  grid-gap: 22px;
}

.u-section-3 .u-repeater-item-1 {
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding: 0 0 33px;
}

.u-section-3 .u-icon-1 {
  width: 139px;
  background-image: none;
  height: 139px;
  margin: 24px auto 0;
  padding: 13px;
}

.u-section-3 .u-text-2 {
  font-size: 2.25rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 34px auto 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.25rem;
  width: 252px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 24px auto 0;
}

.u-section-3 .u-repeater-item-2 {
  background-image: none;
}

.u-section-3 .u-container-layout-4 {
  padding: 0 0 33px;
}

.u-section-3 .u-icon-2 {
  width: 139px;
  background-image: none;
  height: 139px;
  margin: 24px auto 0;
  padding: 13px;
}

.u-section-3 .u-text-4 {
  font-size: 2.25rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 34px auto 0;
}

.u-section-3 .u-text-5 {
  font-size: 1.25rem;
  width: 252px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 24px auto 0;
}

.u-section-3 .u-repeater-item-3 {
  background-image: none;
}

.u-section-3 .u-container-layout-5 {
  padding: 0 0 33px;
}

.u-section-3 .u-icon-3 {
  width: 139px;
  background-image: none;
  height: 139px;
  margin: 24px auto 0;
  padding: 13px;
}

.u-section-3 .u-text-6 {
  font-size: 2.25rem;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 34px auto 0;
}

.u-section-3 .u-text-7 {
  font-size: 1.25rem;
  width: 252px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 24px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-image-1 {
    background-position: 50% 0%;
    height: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 100px;
  }

  .u-section-3 .u-group-2 {
    height: auto;
  }

  .u-section-3 .u-blog-1 {
    width: 880px;
    height: auto;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 14.6667px));
    min-height: 397px;
  }

  .u-section-3 .u-text-3 {
    padding-left: 6px;
  }

  .u-section-3 .u-repeater-item-2 {
    background-size: auto;
  }

  .u-section-3 .u-text-5 {
    padding-left: 6px;
  }

  .u-section-3 .u-repeater-item-3 {
    background-size: auto;
  }

  .u-section-3 .u-text-7 {
    padding-left: 6px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 1328px;
  }

  .u-section-3 .u-image-1 {
    min-height: 1327px;
  }

  .u-section-3 .u-group-2 {
    width: 660px;
  }

  .u-section-3 .u-blog-1 {
    width: 660px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 11.000025px));
    min-height: 931px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-top: 85px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-group-2 {
    width: 520px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-3 .u-blog-1 {
    width: 520px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-container-layout-1 {
    padding-top: 70px;
  }

  .u-section-3 .u-group-2 {
    width: 320px;
  }

  .u-section-3 .u-blog-1 {
    width: 320px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-6 {
    font-size: 1.5rem;
  }
}

.u-section-3 .u-blog-1:not([data-block-selected]):not([data-cell-selected]),
.u-section-3 .u-blog-1:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-3 .u-blog-1:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-blog-1:not([data-block-selected]):not([data-cell-selected]).u-section-3 .u-blog-1:not([data-block-selected]):not([data-cell-selected]).u-section-3 .u-blog-1:not([data-block-selected]):not([data-cell-selected]):hover:before {
  background-color: #333129 !important;
}

.u-block-e5eb-62:not([data-block-selected]):not([data-cell-selected]),
.u-block-e5eb-62:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-e5eb-62:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-e5eb-62:not([data-block-selected]):not([data-cell-selected]).u-block-e5eb-62:not([data-block-selected]):not([data-cell-selected]).u-block-e5eb-62:not([data-block-selected]):not([data-cell-selected]):hover:before {
  background-color: #333129 !important;
}

.u-section-3 .u-container-layout-4:not([data-block-selected]):not([data-cell-selected]),
.u-section-3 .u-container-layout-4:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-3 .u-container-layout-4:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-3 .u-container-layout-4:not([data-block-selected]):not([data-cell-selected]).u-section-3 .u-container-layout-4:not([data-block-selected]):not([data-cell-selected]).u-section-3 .u-container-layout-4:not([data-block-selected]):not([data-cell-selected]):hover:before {
  background-color: #333129 !important;
}

.u-block-e5eb-74:not([data-block-selected]):not([data-cell-selected]),
.u-block-e5eb-74:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-e5eb-74:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-e5eb-74:not([data-block-selected]):not([data-cell-selected]).u-block-e5eb-74:not([data-block-selected]):not([data-cell-selected]).u-block-e5eb-74:not([data-block-selected]):not([data-cell-selected]):hover:before {
  background-color: #333129 !important;
}.u-section-4 .u-sheet-1 {
  min-height: 61px;
} .u-section-5 {
  background-image: url("https://assets.nicepagecdn.com/ad755c07/5131568/images/45f621a31ceb89d67ec167b27fa70700c9175035091251b8150d41c656f99d3c4a2d5a4dd768ecf4c73a359f67ea4809c5bdf7cf3bb8146c43ddb3_1280.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 153px;
}

.u-section-5 .u-group-1 {
  width: 621px;
  min-height: 139px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 7px auto;
}

.u-section-5 .u-container-layout-1 {
  padding-right: 30px;
  padding-left: 30px;
}

.u-section-5 .u-text-1 {
  margin: 30px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 172px;
  }

  .u-section-5 .u-group-1 {
    min-height: 156px;
    margin-top: 8px;
    margin-bottom: 8px;
    height: auto;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 174px;
  }

  .u-section-5 .u-group-1 {
    margin-top: 9px;
    margin-bottom: 9px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 131px;
  }

  .u-section-5 .u-group-1 {
    width: 540px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 82px;
  }

  .u-section-5 .u-group-1 {
    width: 340px;
  }
}.u-block-9789-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-9789-3 {
  position: absolute;
  left: 0;
}

.u-block-9789-4 {
  position: absolute;
  right: 0;
}

 .u-section-6-1 {
  background-image: url("https://assets.nicepagecdn.com/ad755c07/5131568/images/694e443860cc27b2113bc262c1b81f52f4053518348a6b55f11a5ae5d1b1651749705c76a4d5aec484e9643c00810b2fbb32ff6b1967e310ed0006_1280.jpg");
  background-position: 50% 50%;
}

.u-section-6-1 .u-sheet-1 {
  min-height: 513px;
}

.u-section-6-1 .u-image-1 {
  filter: brightness(0.6);
  width: 300px;
  left: 19px;
  right: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6-1 .u-text-1 {
  font-size: 4.5rem;
  text-decoration: none solid rgb(17, 17, 17);
  margin: 131px 133px 0 auto;
}

.u-section-6-1 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 19px 89px 60px 476px;
}

@media (max-width: 1199px) {
  .u-section-6-1 .u-sheet-1 {
    min-height: 603px;
  }

  .u-section-6-1 .u-image-1 {
    height: 552px;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
    margin: 40px auto 0 16px;
  }

  .u-section-6-1 .u-text-1 {
    width: auto;
    margin-top: -495px;
    margin-right: 54px;
  }

  .u-section-6-1 .u-text-2 {
    width: auto;
    margin-top: 40px;
    margin-right: -212px;
    margin-left: 316px;
  }
}

@media (max-width: 991px) {
  .u-section-6-1 .u-sheet-1 {
    min-height: 805px;
  }

  .u-section-6-1 .u-image-1 {
    margin-top: 63px;
    margin-left: auto;
  }

  .u-section-6-1 .u-text-1 {
    margin-top: -615px;
    margin-right: auto;
  }

  .u-section-6-1 .u-text-2 {
    width: 575px;
    margin: 547px auto 25px;
  }
}

@media (max-width: 767px) {
  .u-section-6-1 .u-sheet-1 {
    min-height: 592px;
  }

  .u-section-6-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-6-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-6-1 .u-text-1 {
    font-size: 2.75rem;
  }

  .u-section-6-1 .u-text-2 {
    width: 340px;
  }
}

 .u-section-6-2 {
  background-image: url("https://assets.nicepagecdn.com/ad755c07/5131568/images/694e443860cc27b2113bc262c1b81f52f4053518348a6b55f11a5ae5d1b1651749705c76a4d5aec484e9643c00810b2fbb32ff6b1967e310ed0006_1280.jpg");
  background-position: 50% 50%;
}

.u-section-6-2 .u-sheet-1 {
  min-height: 513px;
}

.u-section-6-2 .u-image-1 {
  filter: brightness(0.6);
  width: 300px;
  left: 19px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  right: auto;
}

.u-section-6-2 .u-text-1 {
  font-size: 4.5rem;
  text-decoration: none solid rgb(17, 17, 17);
  margin: 98px 414px 0 auto;
}

.u-section-6-2 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 43px 104px 60px 361px;
}

@media (max-width: 1199px) {
  .u-section-6-2 .u-sheet-1 {
    min-height: 603px;
  }

  .u-section-6-2 .u-image-1 {
    width: 271px;
    height: 559px;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
    margin: 0 auto 0 -15px;
  }

  .u-section-6-2 .u-text-1 {
    width: auto;
    margin-top: -499px;
    margin-right: 248px;
  }

  .u-section-6-2 .u-text-2 {
    width: auto;
    margin: 38px -153px 0 256px;
  }
}

@media (max-width: 991px) {
  .u-section-6-2 .u-sheet-1 {
    min-height: 807px;
  }

  .u-section-6-2 .u-image-1 {
    width: 222px;
    height: 460px;
    margin-top: 79px;
    margin-left: auto;
  }

  .u-section-6-2 .u-text-1 {
    margin-top: -539px;
    margin-right: auto;
  }

  .u-section-6-2 .u-text-2 {
    margin-top: 504px;
    margin-left: 23px;
    margin-right: 23px;
  }
}

@media (max-width: 767px) {
  .u-section-6-2 .u-sheet-1 {
    min-height: 541px;
  }

  .u-section-6-2 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-6-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-6-2 .u-sheet-1 {
    min-height: 458px;
  }

  .u-section-6-2 .u-text-1 {
    font-size: 2.75rem;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 90px;
}

.u-section-7 .u-text-1 {
  font-size: 1.25rem;
  margin: 13px auto 0;
}

.u-section-7 .u-icon-1 {
  width: 64px;
  background-image: none;
  height: 64px;
  color: rgb(255, 255, 255) !important;
  margin: -56px 439px 0 auto;
  padding: 6px;
}

.u-section-7 .u-icon-2 {
  width: 64px;
  background-image: none;
  height: 64px;
  color: rgb(255, 255, 255) !important;
  margin: -64px auto 5px 439px;
  padding: 6px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-icon-1 {
    margin-right: 362px;
  }

  .u-section-7 .u-icon-2 {
    margin-left: 362px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-text-1 {
    margin-top: 21px;
  }

  .u-section-7 .u-icon-1 {
    margin-right: 238px;
  }

  .u-section-7 .u-icon-2 {
    margin-bottom: 13px;
    margin-left: 238px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-icon-1 {
    margin-top: 20px;
    margin-right: 178px;
  }

  .u-section-7 .u-icon-2 {
    margin-left: 178px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-icon-1 {
    margin-top: -56px;
    margin-right: 112px;
  }

  .u-section-7 .u-icon-2 {
    margin-left: 112px;
  }
}